*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.env.*
!.env.example
storage/*.key
public/storage
public/hot
public/build
storage/logs/*
storage/logs/laravel.log
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*
!.gitignore
npm-debug.log
yarn-error.log
CLAUDE.md
coverage-report
C:*
--cache-result
